@model CourseDetailViewModel
<section class="course-info">
    <div class="row">
        <div class="col-md-9">
            <h1>@Model.Title</h1>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <a href="#" class="btn btn-warning btn-lg btn-block subscribe-course">Iscriviti</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>@Model.Description</p>
        </div>
        <div class="col-md-3">
            <aside>
                <author>di @Model.Author</author>
                <div class="rating" title="@Model.Rating">
                    <rating value="@Model.Rating"></rating>
                </div>
                <div class="price">
                    <price current-price="@Model.CurrentPrice" full-price="@Model.FullPrice"></price>
                </div>
                <img src="@Model.ImagePath" class="img-fluid course-image" alt="@Model.Title">
            </aside>
        </div>
    </div>
</section>

<section class="course-lessons">
	<h2>Lezioni (@Model.Lessons.Count)</h2>
	@foreach (var lesson in Model.Lessons)
	{
	<hr>
	<div class="row">
		<div class="col-md-9 d-flex align-items-center">
		    <a href="#">@lesson.Title</a>
		</div>
		<div class="col-md-3 d-flex align-items-center lesson-duration">
			<i class="far fa-clock"></i><time>@lesson.Duration.ToString("m'm 's's'")</time>
		</div>
        <div class="col-md-12">
            <p>@lesson.Description</p>
        </div>
	</div>
	}
    <hr>
    <div class="row course-duration">
		<div class="col-md-9 d-flex align-items-center">
            Totale
        </div>
        <div class="col-md-3 d-flex align-items-center">
            <i class="far fa-clock"></i><time>@Model.TotalCourseDuration.ToString("h'h 'm'm 's's'")</time>
        </div>
    </div>
</section>

<section>
    <h2>User che hanno acquistato questo corso</h2>
    <div class="row">
        @if(Model.users.Count() == 0)
        {
            <p>Nessun utente ha acquistato questo corso</p>
        }
        else
        {
            @foreach (var user in Model.users)
            {
                <div class="col-md-2 userCard">
                    <a asp-controller="Users" asp-action="Detail" asp-route-id="@user.Id" class="box">
                        <span>
                            @* <svg height="30px"  width="30px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                viewBox="0 0 60.671 60.671" xml:space="preserve">
                            <g>
                                <g>
                                    <ellipse style="fill: @user.colorDisplay();" cx="30.336" cy="12.097" rx="11.997" ry="12.097"/>
                                    <path style="fill:@user.colorDisplay();" d="M35.64,30.079H25.031c-7.021,0-12.714,5.739-12.714,12.821v17.771h36.037V42.9
                                        C48.354,35.818,42.661,30.079,35.64,30.079z"/>
                                </g>
                            </g>
                            </svg> *@
                            <img src="@user.Img" class="img-fluid" style="width: 50px; height:50px; border-radius:50% 50%;" />
                        </span>
                        <span>@user.Name @user.Surname</span><br>
                    </a>
                </div>
            }
        }
    </div>


    <style>
        .userCard {            
            padding: 10px;
        }
        .box {
            border: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #000;
            text-decoration: none;
            padding-top: 20px;
        }
        .box:hover {
            border-color: #000;
            color: #000;
            text-decoration: none;
        }
    </style>
</section>